In [1]:
import pandas as pd
import os
import numpy as np
import seaborn as sns
import warnings

In [2]:
data = pd.read_csv('Traffic_Crashes_-_Crashes.csv')

In [3]:
data.head()

,CRASH_RECORD_ID,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,012c5bfce715efb2f2b387d6dd86f9c13e9dc1809fb52a...,JG341943,NaN,07/12/2023 03:05:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,TURNING,...,0.0,0.0,2.0,0.0,15,4,7,41.778542,-87.742065,POINT (-87.742064741348 41.778541938106)
1,01d457f032e23d935a0b8f6b4c88221375180ffd4cd959...,JG338388,NaN,07/12/2023 05:50:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,REAR END,...,0.0,0.0,2.0,0.0,17,4,7,41.742131,-87.721824,POINT (-87.72182410033 41.742130554062)
2,02249b4747a4bf40b88a8357304a98dfeaef9c38eebbf0...,JG350008,NaN,07/12/2023 02:00:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,OTHER OBJECT,...,0.0,0.0,1.0,0.0,14,4,7,41.719844,-87.584790,POINT (-87.584789974824 41.719844228292)
3,03e3b6caad71b78ed9ae325648effa9512bfb2517aed30...,JG338049,NaN,07/12/2023 07:05:00 AM,30,TRAFFIC SIGNAL,UNKNOWN,FREEZING RAIN/DRIZZLE,DAYLIGHT,REAR END,...,0.0,0.0,2.0,0.0,7,4,7,41.925105,-87.668291,POINT (-87.668291181568 41.925104953308)
4,0481fc919b38f1572d4ba04b069766102d904a662ff096...,JG338431,NaN,07/12/2023 06:30:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,REAR END,...,0.0,0.0,2.0,0.0,18,4,7,41.975258,-87.751991,POINT (-87.751990557158 41.97525809527)

In [4]:
data.shape

(746498, 49)

In [5]:
data.dtypes

CRASH_RECORD_ID                   object
RD_NO                             object
CRASH_DATE_EST_I                  object
CRASH_DATE                        object
POSTED_SPEED_LIMIT                 int64
TRAFFIC_CONTROL_DEVICE            object
DEVICE_CONDITION                  object
WEATHER_CONDITION                 object
LIGHTING_CONDITION                object
FIRST_CRASH_TYPE                  object
TRAFFICWAY_TYPE                   object
LANE_CNT                         float64
ALIGNMENT                         object
ROADWAY_SURFACE_COND              object
ROAD_DEFECT                       object
REPORT_TYPE                       object
CRASH_TYPE                        object
INTERSECTION_RELATED_I            object
NOT_RIGHT_OF_WAY_I                object
HIT_AND_RUN_I                     object
DAMAGE                            object
DATE_POLICE_NOTIFIED              object
PRIM_CONTRIBUTORY_CAUSE           object
SEC_CONTRIBUTORY_CAUSE            object
STREET_NO                          int64
STREET_DIRECTION                  object
STREET_NAME                       object
BEAT_OF_OCCURRENCE               float64
PHOTOS_TAKEN_I                    object
STATEMENTS_TAKEN_I                object
DOORING_I                         object
WORK_ZONE_I                       object
WORK_ZONE_TYPE                    object
WORKERS_PRESENT_I                 object
NUM_UNITS                          int64
MOST_SEVERE_INJURY                object
INJURIES_TOTAL                   float64
INJURIES_FATAL                   float64
INJURIES_INCAPACITATING          float64
INJURIES_NON_INCAPACITATING      float64
INJURIES_REPORTED_NOT_EVIDENT    float64
INJURIES_NO_INDICATION           float64
INJURIES_UNKNOWN                 float64
CRASH_HOUR                         int64
CRASH_DAY_OF_WEEK                  int64
CRASH_MONTH                        int64
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
dtype: object

In [6]:
data.describe(include = [np.number]).astype(int)

,POSTED_SPEED_LIMIT,LANE_CNT,STREET_NO,BEAT_OF_OCCURRENCE,NUM_UNITS,INJURIES_TOTAL,INJURIES_FATAL,INJURIES_INCAPACITATING,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE
count,746498,199004,746498,746493,746498,744879,744879,744879,744879,744879,744879,744879,746498,746498,746498,741590,741590
mean,28,13,3685,1241,2,0,0,0,0,0,2,0,13,4,6,41,-87
std,6,2961,2891,705,0,0,0,0,0,0,1,0,5,1,3,0,0
min,0,0,0,111,1,0,0,0,0,0,0,0,0,1,1,0,-87
25%,30,2,1241,713,2,0,0,0,0,0,1,0,9,2,4,41,-87
50%,30,2,3200,1211,2,0,0,0,0,0,2,0,14,4,7,41,-87
75%,30,4,5600,1822,2,0,0,0,0,0,2,0,17,6,10,41,-87
max,99,1191625,451100,6100,18,21,4,10,21,15,61,0,23,7,12,42,0

In [7]:
data.isnull().sum()

CRASH_RECORD_ID                       0
RD_NO                              4307
CRASH_DATE_EST_I                 690109
CRASH_DATE                            0
POSTED_SPEED_LIMIT                    0
TRAFFIC_CONTROL_DEVICE                0
DEVICE_CONDITION                      0
WEATHER_CONDITION                     0
LIGHTING_CONDITION                    0
FIRST_CRASH_TYPE                      0
TRAFFICWAY_TYPE                       0
LANE_CNT                         547494
ALIGNMENT                             0
ROADWAY_SURFACE_COND                  0
ROAD_DEFECT                           0
REPORT_TYPE                       21222
CRASH_TYPE                            0
INTERSECTION_RELATED_I           575368
NOT_RIGHT_OF_WAY_I               711724
HIT_AND_RUN_I                    513706
DAMAGE                                0
DATE_POLICE_NOTIFIED                  0
PRIM_CONTRIBUTORY_CAUSE               0
SEC_CONTRIBUTORY_CAUSE                0
STREET_NO                             0
STREET_DIRECTION                      4
STREET_NAME                           1
BEAT_OF_OCCURRENCE                    5
PHOTOS_TAKEN_I                   737007
STATEMENTS_TAKEN_I               730402
DOORING_I                        744212
WORK_ZONE_I                      742175
WORK_ZONE_TYPE                   743128
WORKERS_PRESENT_I                745383
NUM_UNITS                             0
MOST_SEVERE_INJURY                 1630
INJURIES_TOTAL                     1619
INJURIES_FATAL                     1619
INJURIES_INCAPACITATING            1619
INJURIES_NON_INCAPACITATING        1619
INJURIES_REPORTED_NOT_EVIDENT      1619
INJURIES_NO_INDICATION             1619
INJURIES_UNKNOWN                   1619
CRASH_HOUR                            0
CRASH_DAY_OF_WEEK                     0
CRASH_MONTH                           0
LATITUDE                           4908
LONGITUDE                          4908
LOCATION                           4908
dtype: int64

Deal with missing values, Imputation Techniques

In [8]:
# "CRASH_DATE_EST_I", too many missing values, replace with mode
data['CRASH_DATE_EST_I'].fillna(data['CRASH_DATE_EST_I'].mode()[0], inplace=True)

In [9]:
#"LANE_CNT", too many missing values, replace with mean
data['LANE_CNT'].fillna(data['LANE_CNT'].mean(), inplace=True)

In [10]:
#"INTERSECTION_RELATED_I", too many missing values, replace with mode
data['INTERSECTION_RELATED_I'].fillna(data['INTERSECTION_RELATED_I'].mode()[0], inplace=True)

In [11]:
#Drop "NOT_RIGHT_OF_WAY_I", too many missing values, replace with mode
data['NOT_RIGHT_OF_WAY_I'].fillna(data['NOT_RIGHT_OF_WAY_I'].mode()[0], inplace=True)

In [12]:
#Drop "HIT_AND_RUN_I", too many missing values, replace with mode
data['HIT_AND_RUN_I'].fillna(data['HIT_AND_RUN_I'].mode()[0], inplace=True)

In [13]:
#Categorical data column "REPORT_TYPE" replace with mode
data['REPORT_TYPE'].fillna(data['REPORT_TYPE'].mode()[0], inplace=True)

In [14]:
#Categorical data  column, "WORK_ZONE_I" replace with mode
data['WORK_ZONE_I'].fillna(data['WORK_ZONE_I'].mode()[0], inplace=True)

In [15]:
#Categorical data  column, "WORK_ZONE_I" replace with mode
data['WORK_ZONE_TYPE'].fillna(data['WORK_ZONE_TYPE'].mode()[0], inplace=True)

In [16]:
#Categorical data column "REPORT_TYPE" replace with mode
data['WORKERS_PRESENT_I'].fillna(data['WORKERS_PRESENT_I'].mode()[0], inplace=True)

In [17]:
#Categorical data  column, "MOST_SEVERE_INJURY" replace with mode(NB!!! Not too many missing, can be dropped)
data['MOST_SEVERE_INJURY'].fillna(data['MOST_SEVERE_INJURY'].mode()[0], inplace=True)

In [18]:
#continous data column "INJURIES_TOTAL", can be replaced with mean
data['INJURIES_TOTAL'].fillna(data['INJURIES_TOTAL'].mean(), inplace=True)

In [19]:
#continous data column "INJURIES_FATAL" replace with mean
data['INJURIES_FATAL'].fillna(data['INJURIES_FATAL'].mean(), inplace=True)

In [20]:
#continous data column "INJURIES_INCAPACITATING" replace with mean
data['INJURIES_INCAPACITATING'].fillna(data['INJURIES_INCAPACITATING'].mean(), inplace=True)

In [21]:
#continous data column "INJURIES_NON_INCAPACITATING" replace with mean
data['INJURIES_NON_INCAPACITATING'].fillna(data['INJURIES_NON_INCAPACITATING'].mean(), inplace=True)

In [22]:
#continous data column "INJURIES_REPORTED_NOT_EVIDENT" replace with mean
data['INJURIES_REPORTED_NOT_EVIDENT'].fillna(data['INJURIES_REPORTED_NOT_EVIDENT'].mean(), inplace=True)

In [23]:
#continous data column "INJURIES_NO_INDICATIONL" replace with mean
data['INJURIES_NO_INDICATION'].fillna(data['INJURIES_NO_INDICATION'].mean(), inplace=True)

In [24]:
#continous data column "INJURIES_UNKNOWN" replace with mean
data['INJURIES_UNKNOWN'].fillna(data['INJURIES_UNKNOWN'].mean(), inplace=True)

In [25]:
#Impute "LATITUDE", replace with mode
data['LATITUDE'].fillna(data['LATITUDE'].mode()[0], inplace=True)

In [26]:
# "LONGITUDE",  replace with mode
data['LONGITUDE'].fillna(data['LONGITUDE'].mode()[0], inplace=True)

In [27]:
print(data['LATITUDE'].mode()[0],data['LONGITUDE'].mode()[0])

41.976201139 -87.905309125

In [28]:
print("Appearing :")
print(data['LATITUDE'].value_counts()[data['LATITUDE'].mode()[0]])
print(data['LONGITUDE'].value_counts()[data['LONGITUDE'].mode()[0]])

Appearing :
6096
6096

In [29]:
# "LOCATION",  replace with mode
data['LOCATION'].fillna(data['LOCATION'].mode()[0], inplace=True)

In [30]:
#Drop columns with missing values that won't influence our analysis and results in any way
columns_to_drop = ['DOORING_I','STATEMENTS_TAKEN_I','PHOTOS_TAKEN_I']
data = data.drop(columns = columns_to_drop)

In [31]:
print("Total = ",len(data['RD_NO']))

Total =  746498

In [32]:
print("unique values = ",data['RD_NO'].nunique())

unique values =  742191

In [33]:
print("missing values = ",data['RD_NO'].isnull().sum())

missing values =  4307

In [34]:
print("Total adds up = ",data['RD_NO'].isnull().sum()+data['RD_NO'].nunique())

Total adds up =  746498

In [35]:
# Serial numbers missing, not many(4307 missing records out of a total of 746,498) we can drop or use place holder for NA's
data['RD_NO'].fillna('Unknown', inplace=True)

In [36]:
#Drop missing values for the rest of the missing columns, not many i.e., (4,1,5) for the following columns
data.dropna(subset=['STREET_DIRECTION', 'STREET_NAME', 'BEAT_OF_OCCURRENCE'], inplace=True)

In [37]:
data.isnull().sum()

CRASH_RECORD_ID                  0
RD_NO                            0
CRASH_DATE_EST_I                 0
CRASH_DATE                       0
POSTED_SPEED_LIMIT               0
TRAFFIC_CONTROL_DEVICE           0
DEVICE_CONDITION                 0
WEATHER_CONDITION                0
LIGHTING_CONDITION               0
FIRST_CRASH_TYPE                 0
TRAFFICWAY_TYPE                  0
LANE_CNT                         0
ALIGNMENT                        0
ROADWAY_SURFACE_COND             0
ROAD_DEFECT                      0
REPORT_TYPE                      0
CRASH_TYPE                       0
INTERSECTION_RELATED_I           0
NOT_RIGHT_OF_WAY_I               0
HIT_AND_RUN_I                    0
DAMAGE                           0
DATE_POLICE_NOTIFIED             0
PRIM_CONTRIBUTORY_CAUSE          0
SEC_CONTRIBUTORY_CAUSE           0
STREET_NO                        0
STREET_DIRECTION                 0
STREET_NAME                      0
BEAT_OF_OCCURRENCE               0
WORK_ZONE_I                      0
WORK_ZONE_TYPE                   0
WORKERS_PRESENT_I                0
NUM_UNITS                        0
MOST_SEVERE_INJURY               0
INJURIES_TOTAL                   0
INJURIES_FATAL                   0
INJURIES_INCAPACITATING          0
INJURIES_NON_INCAPACITATING      0
INJURIES_REPORTED_NOT_EVIDENT    0
INJURIES_NO_INDICATION           0
INJURIES_UNKNOWN                 0
CRASH_HOUR                       0
CRASH_DAY_OF_WEEK                0
CRASH_MONTH                      0
LATITUDE                         0
LONGITUDE                        0
LOCATION                         0
dtype: int64

In [38]:
data['INTERSECTION_RELATED_I']

0         Y
1         Y
2         Y
3         Y
4         Y
         ..
746493    Y
746494    Y
746495    Y
746496    Y
746497    Y
Name: INTERSECTION_RELATED_I, Length: 746489, dtype: object